.IssueLabel {
  margin-left: 6px;
  height: 20px;
  padding: 0.15em 6px;
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  display: "inline-block";
}

.GoodFirstIssue {
  background-color: #7057ff;
  color: #ffffff;
  border-radius: 10px;
}

.HelpWanted {
  background-color: #008672;
  color: #ffffff;
  border-radius: 10px;
}
