.hightlightRow:hover {
  background-color: #d8e1e8;
}

.hightlightRow:focus-within {
  background-color: #d8e1e8;
}

<<<<<<< HEAD
/* .issueRow td {
  display: flex;
  align-items: flex-start;
} */
=======
.hightlightRow div:first-child {
  display: flex;
}
>>>>>>> ffd3caabe2b142f6d1e8a13d210945eed7b67ff4
